[Unit]
Description=distributed-pagerank application

[Service]
Environment=PORT=1234
Environment=HEALTH_CHECK=3000
Environment=HOST={{ DP_HOST }}
Environment=MASTER={{ DP_MASTER }}:1234
Environment=RABBIT_HOST={{ DP_RABBIT_HOST }}
Environment=RABBIT_USER={{ DP_RABBIT_USER }}
Environment=RABBIT_PASSWORD={{ DP_RABBIT_PASSWORD }}
Environment=NODE_LOG=false
Environment=SERVER_LOG=false
Type=simple
WorkingDirectory={{ remote_app_dir }}
ExecStart={{ remote_app_dir }}/build/node
ExecStop=/bin/kill -TERM $MAINPID

[Install]
WantedBy=multi-user.target

